src/main/mule/Global/travelontipexternalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e823b2ec-04c0-47de-8ea4-e9c36802855f" >
		<http:listener-connection host="${http.listner.host}" port="${http.listner.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="8ac11846-6ef1-4e39-9d1f-4a0c9b7bfebe" file="Config\Local.yaml" />
	<flow name="travelontipexternalsystemFlow" doc:id="c6240296-0083-476e-a097-534c0528cd6b" >
		<http:listener doc:name="Listener" doc:id="deedeb76-4b82-44af-9c5b-5c6607e59cd8" config-ref="HTTP_Listener_config" path="${http.listner.path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="be02769c-68bf-49d5-a797-65c83a173d5b" message="#[payload]"/>
	</flow>
</mule>
